header {
    padding: 10px;
    text-align: center;
    background-color: #1abc9c;
    color: black;
    font-size: 30px;
  }  
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
table, tr, td{
    padding: 5px;
    width: 50px;
    height: 50px;
}
#blue {
    background-color: blue;
    color: white;
}
#green {
    background-color: green;
    color: white;
}
#red {
    background-color: red;
    color: white;
}
#yellow {
    background-color: yellow;
    color: white;
}
#orange {
    background-color: orange;
    color: white;
}
#pink {
    background-color: pink;
    color: white;
}
#brown {
    background-color: brown;
    color: white;
}
#purple{
    background-color: purple;
    color:white;
}